.container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container button{
    width: 10%;
    margin: auto;
    margin-bottom: 2em;
}

.blockquote{
    border: 1px;
    margin: 2.5rem;
}